.topbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.searchbar {
  margin-left: 20px;
  height: 37px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  width: 400px;
  background-color: #f1f3f43d;
}
.avatar {
  margin-left: 2rem;
  margin-right: 2rem;
}

.logoutStyle {
  text-decoration: "none";
}

.drawer {
  .MuiDrawer-paper {
    background-color: var(--primary-bg);
    color: white;
    .MuiDrawer-docked {
      width: "200px";
    }
    .MuiList-root {
      .MuiListItem-root {
        .MuiButtonBase-root {
          color: white;
        }
      }
    }
  }
}

.navLogo {
  width: 7rem;
  margin-right: 2rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
